{% extends 'candidate_account_base.html' %}

{% block title %}<title>Matches</title>{% endblock %}

{% block head %}


{% endblock %}

{% block body %}
<div class="card">
	<div class="card-body d-flex justify-content-between">
		<h5 class="uk-card-title">All Match Matches</h5>
		<a href="/candidate-account/">Back</a>
	</div>
</div>
<div class="row">
	{% for match in matches %}
	<div class="col-12 col-md-6 col-lg-4 mt-4">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<div class="d-flex">
					<img src="{{ match.get_company_image_url }}" width="35" height="35"
					     class="rounded-circle border border-light mr-3" alt="user profile image">
	  				<h5 class="mb-1">{{ match.get_company_name }} - {{ match.get_job_title }}</h5>
				</div>
			</div>
			<div class="card-body">
				<small class="text-muted d-block">
					<i class="fas fa-business-time mr-1"></i>
					<small class="text-muted">{{ match.candidate_liked_timestamp }}</small>
				</small>
				<a href="/matches/{{ match.id }}/candidate/" class="btn btn-sm btn-primary mt-4 d-block">
					View Match
				</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}