{% extends 'company_account_base.html' %}

{% block title %}<title>Company User Dashboard</title>{% endblock %}

{% block head %}

<!-- this links the tinymce javascript for the text editor -->
{{ form.media }}

<!-- google places autocomplete -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyD2SrQatxg5NRBSxInBE_vI7FfUp8DoGUA"></script>

<style>
	#skills-results-container {
		display: none;
		position: absolute;
		max-height: 150px;
		overflow-y: scroll;
		padding-left: 15px;
		padding-right: 15px;
	}

	.skill-result {
		border-top: 1px solid lightgrey;
		padding-top: 10px;
	}

	.skill-result:hover {
		cursor: pointer;
		opacity: 0.7;
	}


</style>

{% endblock %}

{% block body %}
	<div class="row mb-4">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="card card-body mb-4">
				<h5 class="card-title">New Job Post</h5>
				<form method="POST">

					<div class="form-group">
						<label>Job Title</label>
						{{ form.job_title }}
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col">
								<label>Industry</label>
								{{ form.industry }}
							</div>
							<div class="col">
								<label>Employment Type</label>
								{{ form.employment_type }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Description</label>
						{{ form.description }}
					</div>

					<div class="form-group">
						<label>Location</label>
						{{ form.location }}
					</div>

					<div class="form-group">
						<label>Search for skills</label>
						<input type="text" class="form-control" id='skill-search' name="skill-search">
						<div class="card" id="skills-results-container" style="z-index: 2;">
							<p class="text-muted text-center">Results</p>
							<div id="skill-search-results">
								
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="form-check py-1">
			    			{{ form.active }}
			    			<label class="form-check-label">Would you like to post this job right after creating it?</label>
				    	</div>
					</div>

					<input type="submit" id="btn" class="btn btn-primary" value="Create">

				</form>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
	
	<script type="text/javascript">
		function init() {
			var input = document.getElementById('location-input');
            var autocomplete = new google.maps.places.Autocomplete(input);
		}
		google.maps.event.addDomListener(window, 'load', init);

		const $skillSearchResultContainer = $('#skills-results-container')
		const $skillSearchResults = $('#skill-search-results')

		// listens for change in the find skills input text
		$('#skill-search').keyup(function() {
			$skillSearchResultContainer.show()

			// sends a request to search for skills based on the current 
			// value of the skill search input
			$.ajax({
		        url: '/skills/search/',
		        data: {
		          'skill_string': $(this).val()  
		        },
		        dataType: 'json',
		        success: function (data) {
		    		// emptys search results div
		        	$skillSearchResults.empty()

		        	// if there are search results
		        	if (data.results.length > 0) {
			        	// iterate through all of the results
			        	data.results.forEach((result) => {
				        	const $skill = $('<div class="skill-result"></div>')
				        	const $skillText = $('<p>' + result + '</p>')
				        	$skillText.text(result)
				        	$skill.append($skillText)
				        	$skillSearchResults.append($skill)
			        	})

			        // if there are no results
			        } else {
			        	$skillSearchResults.append($('<p class="text-center">No Results</p>'))
			        }		        	
		        }
      		})	
		})

		// listens for a skill result to be clicked
		$('#skill-search-results').on('click', function(e) {
			$('#skill-search').val($(e.target).text())
			$skillSearchResultContainer.hide()
		})

	</script>

	
{% endblock %}







