{% extends 'company_account_base.html' %}

{% block title %}<title>Show Match</title>{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="card px-4">
	<div class="card-body">
		<div class="d-flex justify-content-center">
			<img src="/media/users/default_profile_picture.png/" width="35" height="35" class="rounded-circle mr-3" 
				 alt="user profile image">
			<h4 class="align-self-center">{{ match.get_candidate_full_name }}</h4>
		</div>
	</div>
</div>

<div class="row mt-4">

	<div class="col-4">
		<div class="card card-body">
			<h5>{{ candidate_info.headline }}</h5>
			<small class="text-muted">
				<i class="fas fa-map-marker-alt mr-1"></i>
				{{ candidate_info.location }}
			</small>
			<strong class="d-block mt-4">About</strong>
			<p>{{ candidate_info.bio }}</p>
		</div>

		<div class="card card-body mt-3">
			<h5 class="card-title">Skills</h5>
			<div class="d-flex flex-wrap">
				{% for skill in skills %}
				<span>
					<span class="badge badge-primary mr-1 mt-2 py-2 px-3 font-weight-normal">
						{{ skill.name }}
					</span>
				</span>
				{% endfor %}
			</div>
		</div>
	</div>	

	<div class="col-8">
		<div class="card card-body">
			<h5 class="card-title">Experience</h5>

			<!-- if the candidate has atleast one experience -->
			{% if experiences.count > 0 %}


			<!-- if the candidate doesnt have any experiences -->
			{% else %}
			<p class="text-center text-muted">
				This candidate has not added any experiences yet
			</p>
			{% endif %}

		</div>

		<div class="card card-body mt-3">
			<h5 class="card-title">Projects</h5>

			<!-- if the candidate has atleast one project -->
			{% if experiences.count > 0 %}


			<!-- if the candidate doesnt have any projects -->
			{% else %}
			<p class="text-center text-muted">
				This candidate has not added any projects yet
			</p>
			{% endif %}

		</div>
	</div>	

</div>

{% endblock %}