{% extends 'company_users/base.html' %}

{% block title %}<title>Join Company</title>{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-3"></div>

		<div class="col-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Join A Company</h5>

					{% if messages %}
						{% for message in messages %}
							<small class="text-danger text-center">
								{{ message }}
							</small>
						{% endfor %}
					{% endif %}

					<form class="mb-3" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="code">Invite Code</label>
							<input type="text" class="form-control" name="code" placeholder="Invite Code">
						</div>
						<input type="submit" class="btn btn-primary" value="Join">
					</form>
					<small>
						Does your company not exist yet? <a href="/company-users/new/">Create a new company here</a>
					</small>
				</div>
			</div>
		</div>

		<div class="col-3"></div>
	</div>
{% endblock %}