{% extends 'candidate_account_base.html' %}

{% block title %}<title>Candidate User Dashboard</title>{% endblock %}

{% block head %}

{% load static %}

<style type="text/css">
	.project-container,
	.experience-container {
		padding: 15px 5px;
		border-top: 1px solid lightgrey;
	
	}
	.new-icon {
		font-size: 1.2rem;
	}

	.new-icon:hover {
		opacity: 0.6;
	}

	@media only screen and (max-width: 525px) {
		#candidate-header-content > div > a {
			display: none!important;
		}
	}
</style>

{% endblock %}

{% block body %}
	<div class=" card-margin">
		<div class="card" class="account-header">
			<div class="card-body px-4">
		    	<div class="d-flex justify-content-between flex-wrap" id="candidate-header-content">
		    		<img src="/media/users/default_profile_picture.png" class="img-fluid rounded-circle"
		    			 width="100" height="100" alt="profile picture">	
		    		<div class="text-center">
		    			<h3>{{ user.get_full_name }}</h3>
		    			<h6 class="text-muted">{{ user_info.headline }}</h6>
		    			<h7 class="text-muted">
							<i class="fas fa-map-marker-alt mr-1"></i>
							{{ user_info.location }}
		    			</h7>
		    		</div>
		    		<div>
		    			<a href="javascript:void" data-toggle="modal" data-target="#contactInfoModal">
		    				Contact Info
		    			</a>
		    		</div>
		    	</div>
		  	</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-4">
				<div class="card mt-4">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h5 class="card-title">About</h5>
							<a href="#">
								Edit	
							</a>
						</div>
						<small>{{ user_info.bio }}</small>
					</div>
				</div>
				<div class="card mt-4">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h5>Skills</h5>
							<a href="/skills/add/">
								<i class="fas fa-plus new-icon mr-1"></i>	
							</a>
						</div>
						{% if skills.count > 0 %}
						<div class="d-flex flex-wrap mt-2">
						{% for skill in skills %}
							<span>
			                    <span class="badge badge-primary py-2 mr-3 mt-2 skill-badge">
			                        {{ skill.name }}
			                    </span>
                			</span>
						{% endfor %}	
						</div>			
						{% else %}
							<p class="text-center text-muted">You have not added any skills yet</p>
						{% endif %}
					</div>
				</div>	
			</div>

			<div class="col-12 col-md-8">
				<div class="card mt-4">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h5 class="card-title">Experiences</h5>
							<a href="/experience/new/">
								<i class="fas fa-plus new-icon mr-1"></i>
							</a>
						</div>
						{% if experiences.count > 0 %}

						{% for experience in experiences %}
						<div class="experience-container mt-2">
							<div class="d-flex justify-content-between pb-2">
								<h6>{{ experience.title }}</h6>
								<a href="/experience/edit/{{ experience.id }}/">Edit</a>
							</div>
							<small class="text-muted">
								<i class="fas fa-briefcase mr-1"></i>
								{{ experience.employment_type }}
							</small>
							<small class="text-muted d-block mt-1">
								<i class="fas fa-map-marker-alt mr-1"></i>
								{{ experience.company }} - {{ experience.location }}
							</small>
							<small class="text-muted pb-3">
								<i class="fas fa-business-time mr-1"></i>
								{{ experience.start_date }} - {{ experience.end_date }}
							</small>

							<div class="mt-2">
								<small>
									{{ experience.description | safe }}
								</small>
							</div>
						
						</div>
						{% endfor %}
						{% else %}
							<p class="text-center text-muted">You have not added any experiences yet</p>
						{% endif %}
					</div>
				</div>

				<div class="card mt-4">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h5>Projects</h5>
							<a href="/projects/new/">
								<i class="fas fa-plus new-icon mr-1"></i>	
							</a>
						</div>
						{% if projects.count > 0 %}

						{% for project in projects %}
						<div class="project-container mt-3">
							<div class="d-flex justify-content-between pb-2">
								<div class="d-flex justify-content-center">
									<img src="{{ project.image.url }}" width="30" height="30" class="rounded-circle mr-2" alt="project image"/>
									<h6 class="align-self-center">{{ project.title }}</h6>
								</div>	
								<a href="/projects/edit/{{ project.id }}/">Edit</a>
							</div>
							
							<small class="text-muted">
								<i class="fas fa-map-marker-alt mr-1"></i>
								{{ project.associated_with }}
							</small>
							<small class="d-block text-muted pb-3">
								<i class="fas fa-business-time mr-1"></i>
								{{ project.start_date }} - {{ project.end_date }}
							</small>
							<div class="mt-2">
								<small>
									{{ project.description | safe }}
								</small>
							</div>
							<small>
								<a href="{{ project.url }}" target="_blank">
									<i class="fas fa-link mr-1"></i>
									Link To Project
								</a>
							</small>
						</div>
						{% endfor %}

						{% else %}
							<p class="text-center text-muted">You have not added any projects yet</p>
						{% endif %}
					</div>	
				</div>	
					
			</div>
		</div>
	</div>
	<div class="modal" tabindex="-1" role="dialog" id="contactInfoModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
  			<div class="modal-content">
      			<div class="modal-header">
      				<h5 class="modal-title">Contact Info</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
      			</div>
      			<div class="modal-body text-center text-muted">
      				<p>
      					<i class="far fa-envelope mr-1"></i>
      					{{ user.email }}
      				</p>	
      				<p>
      					<i class="fas fa-phone mr-1"></i>
      					{{ user_info.phone_number }}
      				</p>
      			</div>
      			<div class="modal-footer">
      				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			<a href="#" class="btn btn-primary">Edit Contact Info</a>	
      			</div>
      		</div>	
  		</div>
  	</div>
{% endblock %}









