{% extends 'candidate_account_base.html' %}

{% block title %}<title>Candidate User Dashboard</title>{% endblock %}

{% block head %}

{% load static %}

<style type="text/css">
	.project-container,
	.experience-container {
		padding: 15px 5px;
		border-top: 1px solid lightgrey;
	
	}
</style>

{% endblock %}

{% block body %}
	<div class=" card-margin">
		<div class="card" class="account-header">
			<div class="card-body">
		    	<div class="d-flex">
		    		<img src="/media/users/default_profile_picture.png" class="img-fluid" alt="profile picture">	
		    		<div class="px-4">
		    			<h3>{{ user.get_full_name }}</h3>
		    			<h6 class="text-muted">{{ user.format_username }}</h6>
		    			<h6 class="text-muted">{{ user.email }}</h6>
		    		</div>
		    	</div>
		  	</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-4">
				<div class="card mt-4">
					<div class="card-body">
						<h5>Skills</h5>
						
						{% if skills.count > 0 %}

						{% for skill in skills %}
							{{ skill }}
						{% endfor %}				

						{% else %}
							<p class="text-center text-muted">You do not have any skills added</p>
						{% endif %}
						<a href="/skills/add/">Add Skills</a>
					</div>
				</div>	
			</div>

			<div class="col-12 col-md-8">

				<div class="card mt-4">
					<div class="card-body">
						<h5 class="card-title">Experiences</h5>
						{% if experiences.count > 0 %}

						{% for experience in experiences %}
						<div class="experience-container mt-2">
							<div class="d-flex justify-content-between pb-2">
								<h6>{{ experience.title }}</h6>
								<a href="/experience/edit/{{ experience.id }}/">Edit</a>
							</div>
							<small class="text-muted">
								<i class="fas fa-briefcase mr-1"></i>
								{{ experience.employment_type }}
							</small>
							<small class="text-muted d-block mt-1">
								<i class="fas fa-map-marker-alt mr-1"></i>
								{{ experience.company }} - {{ experience.location }}
							</small>
							<small class="text-muted pb-3">
								<i class="fas fa-business-time mr-1"></i>
								{{ experience.start_date }} - {{ experience.end_date }}
							</small>

							<div class="mt-2">
								<small>
									{{ experience.description | safe }}
								</small>
							</div>
						
						</div>
						{% endfor %}

						{% else %}
							<p class="text-center text-muted">You have not added any experiences yet</p>
						{% endif %}
					</div>
				</div>

				<div class="card mt-4">
					<div class="card-body">
						<h5 class="card-title">Projects</h5>
						{% if projects.count > 0 %}

						{% for project in projects %}
						<div class="project-container mt-3">
							<div class="d-flex justify-content-between pb-2">
								<div class="d-flex justify-content-center">
									<img src="{{ project.image.url }}" width="30" height="30" class="rounded-circle mr-2" alt="project image"/>
									<h6 class="align-self-center">{{ project.title }}</h6>
								</div>	
								<a href="/projects/edit/{{ project.id }}/">Edit</a>
							</div>
							
							<small class="text-muted">
								<i class="fas fa-map-marker-alt mr-1"></i>
								{{ project.associated_with }}
							</small>
							<small class="d-block text-muted pb-3">
								<i class="fas fa-business-time mr-1"></i>
								{{ project.start_date }} - {{ project.end_date }}
							</small>
							<div class="mt-2">
								<small>
									{{ project.description | safe }}
								</small>
							</div>
							
						
							<small>
								<a href="{{ project.url }}" target="_blank">
									<i class="fas fa-link mr-1"></i>
									Link To Project
								</a>
							</small>
						
						</div>
						{% endfor %}

						{% else %}
							<p class="text-center text-muted">You have not added any projects yet</p>
						{% endif %}
					</div>	
				</div>	
					
			</div>
		</div>
	</div>

{% endblock %}









