<!DOCTYPE html>
<html>
<head>
	{% block title %}{% endblock %}

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- loads static assets from the /static folder configured in django -->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	{% block head %}{% endblock %}

	<style>
		.account-header img {
			border-radius: 50%;
		}

		.account-navigation {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
		}

		.account-navigation .nav-item {
			border: 1px solid #007bff;
		}
	</style>
</head>
<body>
	<div class="container py-4">
		{% block body %}
		{% endblock %}

		<nav class="nav nav-pills nav-fill account-navigation">
			<a href="/company-account/index" class="nav-item nav-link active">Account</a>
			<a href="" class="nav-item nav-link">Job Posts</a>
			<a href="#" class="nav-item nav-link">New Job Post</a>
			<a href="#" class="nav-item nav-link">Notifications</a>
		</nav>
	</div>
</body>
</html>


