{% extends 'company_account_base.html' %}

{% block title %}<title>Add Skills</title>{% endblock %}

{% block head %}

{% load static %}

{% endblock %}

{% block body %}
<div class="row py-4">
    <div class="col-2"></div>  
    <div class="col-8 mt-4">
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                <h5>Add a Skill To "{{ job_post.job_title }}"</h5>
                <form method="POST">
                    <div class="form-group">
                        <small class="mb-4">
                            Begin by searching for a skill you would like to add and results will begin to pop up. If you see 
                            the skill you want to add, click it, then press the "Add Skill" button. If it does not pop up, type 
                            out the whole skill and press the "Add Skill" button.
                        </small>
                        <input type="text" class="form-control mt-3 mr-1" id='skill-search' name="skill-name" autocomplete="off"
                               dataId="{{ job_post.id }}" placeholder="Start by searching for a skill...">
                        <div class="card" id="skills-results-container">
                            <p class="text-muted text-center">Results</p>
                            <div id="skill-search-results">
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Skill">
                </form>
            </form>
        </div>
        <div class="card card-body mt-4">
            <h5 class="card-title">Current Skills</h5>

            <!-- if the job post has atleast one skill -->
            {% if job_post_skills.count > 0 %}
            <div class="d-flex flex-wrap">
                {% for skill in job_post_skills %}
                <span>
                    <span class="badge badge-primary py-2 mr-3 mt-2 skill-badge" dataId="{{ job_post.id }}"
                          csrfToken="{{ csrf_token }}">
                        {{ skill.name }}
                    </span>
                </span>
                {% endfor %} 
            </div>

            <!-- if the job post does not have any skills added -->
            {% else %}
                <p class="text-center text-muted">
                    This job post does not have any skills added
                </p>     
            {% endif %}    

        </div>
    </div> 
    <div class="col-2"></div>      
</div>

<!-- notification box -->
<div class="alert alert-success notification" id="skillNotification" role="alert">
</div>

<!-- script for adding skills to the job post -->
<script type="text/javascript" src="{% static 'js/skills.js' %}"></script>
{% endblock %}












