{% extends 'company_account_base.html' %}

{% block title %}<title>Add Skills</title>{% endblock %}

{% block head %}

{% load static %}

<style type="text/css">
    #skills-results-container {
        display: none;
        z-index: 2;
        width: 100%;
        max-height: 150px;
        overflow-y: scroll;
        position: absolute;
    }

    .skill-result {
        border-top: 1px solid lightgrey;
        padding-top: 10px;
    }

    .skill-result:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    .skill-badge-hover {
        background-color: red;
        cursor: pointer;
    }

    .notification {
        position: absolute;
        left: 25%;
        bottom: 40px;
        width: 50%;
        z-index: 10;
        display: none;
    }
</style>

{% endblock %}

{% block body %}
<div class="row py-4">
    <div class="col-2"></div>  
    <div class="col-8 mt-4">
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                <h5>Add a Skill To "{{ job_post.job_title }}"</h5>
                <form method="POST">
                    <div class="form-group">
                        <small class="mb-4">
                            Begin by searching for a skill you would like to add and results will begin to pop up. If you see 
                            the skill you want to add, click it, then press the "Add Skill" button. If it does not pop up, type 
                            out the whole skill and press the "Add Skill" button.
                        </small>
                        <input type="text" class="form-control mt-3 mr-1" id='skill-search' name="skill-name" autocomplete="off"
                               dataId="{{ job_post.id }}" placeholder="Start by searching for a skill...">
                        <div class="card" id="skills-results-container">
                            <p class="text-muted text-center">Results</p>
                            <div id="skill-search-results">
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Skill">
                </form>
            </form>
        </div>
        <div class="card card-body mt-4">
            <h5 class="card-title">Current Skills</h5>

            <!-- if the job post has atleast one skill -->
            {% if job_post_skills.count > 0 %}

            <div class="d-flex flex-wrap">
                {% for skill in job_post_skills %}
                <span>
                    <span class="badge badge-primary py-2 mr-3 mt-2 skill-badge" dataId="{{ job_post.id }}"
                          csrfToken="{{ csrf_token }}">
                        {{ skill.name }}
                    </span>
                </span>
                {% endfor %} 
            </div>

            <!-- if the job post does not have any skills added -->
            {% else %}
                <p class="text-center text-muted">
                    This job post does not have any skills added
                </p>     
            {% endif %}    

        </div>
    </div> 
    <div class="col-2"></div>      
</div>

<!-- notification box -->
<div class="alert alert-success notification" id="skillNotification" role="alert">
    dfd
</div>

<!-- script for adding skills to the job post -->
<script type="text/javascript" src="{% static 'js/skills.js' %}"></script>

<script type="text/javascript">

    // holds the text of the skill being hovered over
    let skillText
    let skillBadgeWidth

    // listens for the mouse to enter or leave a skill badge
    $('.skill-badge').hover(

        // function excecutes when the mouse enters
        function() {
            skillText = $(this).text().trim()
            skillBadgeWidth = $(this).css('width')
            $(this).addClass('skill-badge-hover')
            $(this).css('width', skillBadgeWidth)
            $(this).html('<i class="fas fa-trash-alt"></i>')
    
        // function executes when the mouse leaves
        }, function() {
            $(this).removeClass('skill-badge-hover')
            $(this).text(skillText)
        })

    // listens for a skill badge to be clicked    
    $('.skill-badge').on('click', function() {
        const $skillBadge = $(this)
        // make ajax call to delete the skill
        $.ajax({
            url: '/skills/delete/' + skillText + '/',
            method: 'POST',
            data: {
              'data_id': $(this).attr('dataId'),
              'csrfmiddlewaretoken': $skillBadge.attr('csrfToken')
            },
            dataType: 'json',
            success:function(data) {
                console.log('success data:', data)
                // removes the skill from the DOM
                $skillBadge.remove()

                // removes the skills parent element from the DOM
                $skillBadge.parent().remove()

                // shows a notification
                showNotification(data.message, '#skillNotification')
            }
        })
    })

    // shows a notification
    showNotification = (text, id) => {
        console.log('notification called')
        $(id).text(text)
        $(id).fadeIn(500)

        // hides the notification after 2 seconds
        setTimeout(function(){
            $('.notification').fadeOut(500)
        }, 2000)
    }
</script> 
{% endblock %}












