html, body {
	height: 100%;
}

body {
	background-color: #f5f5f5;
}

.account-header img {
	border-radius: 50%;
}

.account-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.account-navigation .nav-item {
	border: 1px solid #007bff;
}

#skills-results-container {
	display: none;
	z-index: 2;
	position: absolute;
	max-height: 150px;
	overflow-y: scroll;
	padding-left: 15px;
	padding-right: 15px;
}

.skill-result {
	border-top: 1px solid lightgrey;
	padding-top: 10px;
}

.skill-result:hover {
	cursor: pointer;
	opacity: 0.7;
}

#added-skills-container {
	height: 25px;
}

#skills-hidden-input {
	display: none;
}


