{% extends 'candidate_account_base.html' %}

{% block title %}<title>Add Skills</title>{% endblock %}

{% block head %}

{% load static %}

{% endblock %}

{% block body %}

<div class="row py-4">
    <div class="col-md-2"></div>  
    <div class="col-12 col-md-8">

        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                <h5>Add A Skill</h5>
                <form method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control mt-3 mr-1" id='skill-search' name="skill-name" autocomplete="off"
                               placeholder="Start by searching for a skill...">
                        <div class="card" id="skills-results-container">
                            <p class="text-muted text-center">Results</p>
                            <div id="skill-search-results">
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Skill">
                </form>
            </form>
        </div>
        <div class="card card-body mt-4">
            <h5 class="card-title">Your Skills</h5>
            {% if users_skills.count > 0 %}
            <div class="d-flex flex-wrap">
                {% for skill in users_skills %}
                <span>
                    <span class="badge badge-primary py-2 mr-3 mt-2 skill-badge" csrfToken="{{ csrf_token }}">
                        {{ skill.name }}
                    </span>
                </span>
                {% endfor %} 
            </div>
            {% else %}
            <p class="text-muted text-center">
                You do not have any skills added
            </p>
            {% endif %}
        </div>
    </div> 
    <div class="col-md-2"></div>      
</div>
<!-- notification box -->
<div class="alert alert-success notification" id="skillNotification" role="alert">
</div>
<!-- script for adding skills to the job post -->
<script type="text/javascript" src="{% static 'js/skills.js' %}"></script>
{% endblock %}





