{% extends 'users/base.html' %}

{% block title %}<title>Register</title>{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">
			<div class="card w-100">
				<div class="card-body">
			    	<h5 class="card-title">Register</h5>
			    	<form class="pb-3" method="POST" enctype="multipart/form-data">
			    		{% csrf_token %}
			    		<div class="form-group">
				    		<div class="row">
							    <div class="col">
							    	<label for="first_name">First Name</label>
							    	{{ form.first_name }}
							    </div>
							    <div class="col">
							      <label for="last_name">Last Name</label>
							      {{ form.last_name }}
							    </div>
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<label>Profile Picture</label>
	  						<div class="custom-file">
	  							{{ form.image }}
	  							<label class="custom-file-label" for="customFile">Choose File</label>
	  						</div>
	  						{% for error in form.image.errors %}
			    			<small class="d-block text-danger">{{ error }}</small>
			    			{% endfor %}
	  					</div>
			    		<div class="form-group">
			    			<label for="username">Username</label>
			    			{{ form.username }}
			    			{% for error in form.username.errors %}
			    			<small class="d-block text-danger">{{ error }}</small>
			    			{% endfor %}
			    		</div>
			    		<div class="form-group">
			    			<label for="email">Email</label>
			    			{{ form.email }}
			    			{% for error in form.email.errors %}
			    			<small class="d-block text-danger">{{ error }}</small>
			    			{% endfor %}
			    		</div>
			    		<div class="form-group">
				    		<div class="form-check py-1">
				    			{{ form.company_user }}
				    			<label class="form-check-label">Are you registering with a company?</label>
				    		</div>
				    		<div class="form-check py-1">
				    			{{ form.candidate_user }}
				    			<label class="form-check-label">Are you registering as an individual?</label>
				    		</div>
			    		</div>
			    		<div class="form-group">
			    			<div class="row">
			    				<div class="col">
								    <label for="password">Password</label>
								   	{{ form.password1 }}
			    				</div>
			    				<div class="col">
			    					<label for="password">Confirm Password</label>
								   	{{ form.password2 }}
			    				</div>
			    			</div>
			    			{% for error in form.password2.errors %}
			    			<small class="d-block text-danger">{{ error }}</small>
			    			{% endfor %}
	  					</div>
			    		<input type="submit" class="btn btn-primary" value="Register">
			    	</form>
			    	<small>
			    		Already have an account? <a href="/users/login/">Login here</a>
			    	</small>
			  	</div>
			</div>
		</div>
		<div class="col-0 col-md-2"></div>
	</div>
{% endblock %}




