{% extends 'company_account_base.html' %}

{% block title %}<title>Find Matches For {{ job_post.job_title }}</title>{% endblock %}

{% block head %}

<style type="text/css">

	embed {
		height: 1000px;
		width: 100%;
	}

	@media only screen and (max-width: 993px) {
		#experience-details-container {
			display: block!important;
		}
		#experience-details-container > small {
			display: block!important;
			margin-top: 10px;
		}
	}

	@media only screen and (max-width: 778px) {
		#view-candidate-container .col {
			height: auto!important;
			margin-bottom: 20px;
		}
	}

</style>

{% endblock %}

{% block body %}
	<div class="card w-100 vh-100">
		<div class="card-body">
			{% if match is not None %}

				<div class="w-100 overflow-auto h-75 p-3 border border-secondary rounded" id="view-candidate-container">
					<div class="row h-100 py-3">

						<div class="col col-12 col-md-6 h-100 overflow-auto border-right border-right-secondary text-center">
							<h4>{{ candidate_user_info.headline }}</h4>
							<small class="text-muted">
								<i class="fas fa-map-marker-alt mr-1"></i>
								{{ candidate_user_info.location }}
							</small>

							<strong class="d-block mt-4">About</strong>
							<p>{{ candidate_user_info.bio }}</p>

							<button type="button" class="btn btn-sm btn-primary mt-3" data-toggle="modal"
									data-target=".bd-example-modal-lg">	View Resume
							</button>
						</div>

						<div class="col col-12 col-md-6 h-100 overflow-auto">
							<h4 class="text-center pb-2">Experiences</h4>
							{% for experience in experiences %}
								<div class="card mt-2">
									<div class="card-header">
										{{ experience.title }}
									</div>
									<div class="card-body">
										<div class="d-flex justify-content-between pb-1" id="experience-details-container">
											<small class="text-muted">
												<i class="fas fa-map-marker-alt mr-1"></i>
												{{ experience.company }} - {{ experience.location }}
											</small>
											<small class="text-muted">
												<i class="fas fa-briefcase mr-1"></i>
												{{ experience.employment_type }}
											</small>
										</div>
										<small class="text-muted pb-3">
											<i class="fas fa-business-time mr-1"></i>
											{{ experience.start_date }} - {{ experience.end_date }}
										</small>

										<div class="mt-2">
											<small>
												{{ experience.description | safe }}
											</small>
										</div>
									</div>
								</div>
							{% endfor %}
							<h4 class="text-center mt-3 pb-2">Projects</h4>
							{% for project in projects %}
								<div class="card mt-3">
									<div class="card-header text-center">
										<img src="{{ project.image.url }}" width="30" height="30" class="rounded-circle mr-2" alt="project image"/>
										{{ project.title }}
									</div>
									<div class="card-body">
										<small class="text-muted">
											<i class="fas fa-map-marker-alt mr-1"></i>
											{{ project.associated_with }}
										</small>
										<small class="d-block text-muted pb-3">
											<i class="fas fa-business-time mr-1"></i>
											{{ project.start_date }} - {{ project.end_date }}
										</small>
										<div class="mt-2">
											<small>
												{{ project.description | safe }}
											</small>
										</div>
									</div>
									<div class="card-footer text-center">
										<small>
											<a href="{{ project.url }}" target="_blank">
												<i class="fas fa-link mr-1"></i>
												Link To Project
											</a>
										</small>
									</div>
								</div>
							{% endfor %}								
						</div>

					</div>
				</div>					
				<a href="/matches/dislike-candidate/{{ match.id }}/" class="btn btn-danger">Dislike</a>
				<a href="/matches/like-candidate/{{ match.id }}/" class="btn btn-success">Like</a>
			{% else %}

				<p>no more matches to see</p>

			{% endif %}
		</div>
	</div>

	<!-- modal for viewing a candidates resume -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" 
		 aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<embed src="{{ candidate_user_info.resume.url }}"  />
			</div>
		</div>
	</div>

{% endblock %}