{% extends 'candidate_account_base.html' %}

{% block title %}<title>Company User Dashboard</title>{% endblock %}

{% block head %}



{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">


			{% if match is not None %}
				{{ job_post.job_title }}
				
				<a href="/matches/dislike-job/{{ match.id }}/" class="btn btn-danger">Dislike</a>
				<a href="/matches/like-job/{{ match.id }}/" class="btn btn-success">Like</a>
			{% else %}
				<p>no more matches to see</p>
			{% endif %}
		</div>
	</div>
{% endblock %}