{% extends 'company_account_base.html' %}

{% block title %}<title>Company User Dashboard</title>{% endblock %}

{% block head %}
<style type="text/css">
	
</style>
{% endblock %}

{% block body %}
<div class="card card-body mb-4" id="job-posts-card">
	<div class="d-flex justify-content-between">
		<h4>Job Posts</h4>
		<a href="/job-posts/new/"><i class="fas fa-plus new-icon mr-1"></i></a>
	</div>
</div>
<div class="row">
	{% for post in job_posts %}
	<div class="col-12 col-md-6 col-lg-4 mt-4">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<span>
					{{ post.job_title }}
				</span>
				<a href="/job-posts/edit/{{ post.id }}/">Edit</a>
			</div>
			<div class="card-body">
				<small class="text-muted">
					<i class="fas fa-map-marker-alt mr-1"></i>
					{{ post.location }}
				</small>
				<small class="text-muted d-block">
					<i class="fas fa-briefcase mr-1"></i>
					{{ post.industry }} - {{ post.employment_type }}
				</small>
				<div class="d-flex justify-content-between mt-4">
					<a href="/matches/{{ post.id }}/" class="btn btn-sm btn-primary">Find Matches</a>
					<a href="/job-posts/{{ post.id }}/matches/" class="btn btn-sm btn-primary">View Matches</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}


